<!DOCTYPE html>
<html ng-controller="mtRootCtrl as rootCtrl">
<head>
    <!--preventing the user to zoom is not really nice but this is to prevent the browser from zooming when an input is focused-->
    <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
    <title ng-bind="'MixTube'">MixTube (Loading...)</title>
    <link rel="stylesheet" href="bower_components/reset-css/reset.css" type="text/css">
    <link rel="stylesheet" href="styles/vendor/fontello/fontello.css" type="text/css">
    <link rel="stylesheet" href="styles/css/anim.css" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,700|Open+Sans+Condensed:300|Oleo+Script+Swash+Caps:400"
          rel="stylesheet" type="text/css">
</head>
<body mt-mouse-interaction-detection="mt-mouse-based-interaction">

<!-- queue loading progress block -->
<div class="mt-backdrop" ng-show="rootCtrl.queueLoading"></div>

<div class="mt-modal" ng-show="rootCtrl.queueLoading">
    <p class="mt-queue-loading__message">Loading queue, please wait...</p>

    <div class="mt-queue-loading__progress">
        <progress></progress>
    </div>
</div>
<!-- end of queue loading progress block -->

<div class="mt-scene" mt-scene="scene"></div>

<div class="mt-app">
    <div class="mt-header">
        <div class="mt-header__bg mt-header__bg__animation-show"></div>
        <div class="mt-header__container">
            <div class="start">
                <h1 class="mt-header__app-title">
                    <span class="logo">M</span><span class="remaining">ixtube</span>
                </h1>
            </div>
            <div class="center">
                <button class="mt-header__playback-button"
                        ng-click="rootCtrl.togglePlayback()">
                    <span class="facet facet__animation-toggle" ng-hide="rootCtrl.isPlaying()"
                          data-mt-icon="&#xe805">
                        <span class="mt-replaced-text">Play</span>
                    </span>
                    <span class="facet facet__animation-toggle" ng-show="rootCtrl.isPlaying()"
                          data-mt-icon="&#xe804">
                        <span class="mt-replaced-text">Pause</span>
                    </span>
                </button>
            </div>
            <div class="end">
                <!--just padding container to ensure proper centering of header-center -->
            </div>
        </div>

        <button class="mt-search-input__button" mt-click-sync="rootCtrl.toggleSearch()"
                mt-click-active-class="ng-click-active">
            <span class="facet facet__animation-toggle" ng-hide="props.searchShown"
                  data-mt-icon="&#xe800">
                <span class="mt-replaced-text">Open search</span>
            </span>
            <span class="facet close facet__animation-toggle" ng-show="props.searchShown"
                  data-mt-icon="&#xe802">
                <span class="mt-replaced-text">Close search</span>
            </span>
        </button>

        <mt-search-input name="search" ng-model="props.searchTerm"></mt-search-input>
    </div>

    <div class="mt-body">

        <mt-notification-center name="notificationCenter"></mt-notification-center>

        <div class="mt-queue mt-queue__animation-show" mt-scrollable="queue">
            <ul>
                <li class="mt-queue__entry mt-js-animation-enter-leave__slide-and-size"
                    ng-repeat="entry in props.queue.entries"
                    ng-class="{'active': entry === getRunningQueueEntry(), 'broken': entry.skippedAtRuntime}"
                    ng-controller="mtQueueEntryCtrl as queueEntryCtrl"
                    mt-anchor="{{entry.id}}">
                    <button class="mt-queue__entry__thumbnail" ng-click="queueEntryCtrl.playQueueEntry($index)">
                        <div ng-style="{'background-image': 'url({{entry.video.thumbnailUrl}})'}"
                             class="image"></div>
                        <p class="mt-queue__entry__broken-message">Couldn't load this video</p>

                        <div class="mt-queue__entry__progress" ng-show="entry === getLoadingQueueEntry()">
                            <progress></progress>
                        </div>
                    </button>
                    <div class="mt-queue__entry__data">
                        <p class="mt-queue__entry__title" title="{{entry.video.title}}">
                            {{entry.video.title}}
                        </p>

                        <div class="mt-queue__entry__commands">
                            <button class="mt-queue__entry__remove-button" data-mt-icon="&#xe801"
                                    ng-click="queueEntryCtrl.removeQueueEntry(entry)">
                                <span class="mt-replaced-text">Remove</span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="mt-search mt-search__animation-show" ng-controller="mtSearchResultsCtrl as searchResultsCtrl"
             ng-show="props.searchShown && searchResultsCtrl.inSearch">
            <div class="mt-search__provider" ng-repeat="(pId, pLabel) in {youtube: 'YouTube'}">
                <div class="mt-search__provider__header">
                    <h3 class="title">{{pLabel}}</h3>

                    <div class="progress" ng-show="searchResultsCtrl.pending[pId]">
                        <progress></progress>
                    </div>
                </div>

                <p class="mt-search__no-results-message"
                   ng-show="searchResultsCtrl.delivered[pId] && searchResultsCtrl.results[pId].length === 0 && props.searchTerm">
                    Sorry, no video found on {{pLabel}} for "{{props.searchTerm}}". Please try with another title.
                </p>

                <ul class="mt-results">
                    <li class="mt-result mt-animation-enter-leave__fade"
                        ng-repeat="searchResult in searchResultsCtrl.results[pId]"
                        ng-controller="mtSearchResultCtrl as searchResultCtrl">
                        <button class="mt-result__container"
                                ng-click="searchResultCtrl.appendResultToQueue(searchResult)">
                            <div class="mt-result__add-affordance"></div>

                            <div class="mt-result__thumbnail"
                                 ng-style="{'background-image': 'url({{searchResult.thumbnailUrl}})'}">
                                <div class="mt-result__added-confirmation mt-result__added-confirmation__animation-if"
                                     ng-if="searchResultCtrl.confirmationShown">
                                    <div class="text" mt-short-text="Video added to the queue">
                                        <span class="mt-replaced-text">Video added to the queue. 5 remaining tunes before yours to be played. Enjoy!</span>
                                    </div>
                                </div>
                            </div>
                            <ul class="mt-result__data">
                                <li class="mt-result__data__item title" title="{{searchResult.title}}">
                                    {{searchResult.title}}
                                </li>
                                <li class="mt-result__data__item publisher">by {{searchResult.publisherName}}</li>
                                <li class="mt-result__data__item duration mt-animation-enter-leave__fade"
                                    ng-if="searchResult.duration">
                                    {{searchResult.duration | mtDuration:'shortTime'}}
                                </li>
                            </ul>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- build:js scripts/ext-dependencies.js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/bezier-easing/index.js"></script>
<script src="bower_components/lodash/dist/lodash.js"></script>
<script src="bower_components/popcorn-js/popcorn.js"></script>
<script src="bower_components/popcorn-js/wrappers/common/popcorn._MediaElementProto.js"></script>
<script src="bower_components/popcorn-js/wrappers/youtube/popcorn.HTMLYouTubeVideoElement.js"></script>
<script src="bower_components/shifty/dist/shifty.js"></script>
<script src="bower_components/js-signals/dist/signals.js"></script>
<script src="bower_components/keymaster/keymaster.js"></script>
<!-- endbuild -->

<!-- build:js scripts/app.js -->
<script src="scripts/v2/app.js"></script>
<script src="scripts/libs/tools.js"></script>
<script src="scripts/v2/components/lib/common.js"></script>
<script src="scripts/v2/app-controllers.js"></script>
<script src="scripts/v2/components/logger-factory.js"></script>
<script src="scripts/v2/components/transitions-sequence-factory.js"></script>
<script src="scripts/v2/components/async-registry-factory.js"></script>
<script src="scripts/v2/components/pointing-directives.js"></script>
<script src="scripts/v2/components/duration-filter.js"></script>
<script src="scripts/v2/components/slide-size-animation.js"></script>
<script src="scripts/v2/components/scrollable/scrollables-registry.js"></script>
<script src="scripts/v2/components/scrollable/scrollable-directive.js"></script>
<script src="scripts/v2/components/search-input/search-inputs-registry.js"></script>
<script src="scripts/v2/components/search-input/search-input-directive.js"></script>
<script src="scripts/v2/components/notification/notification-centers-registry.js"></script>
<script src="scripts/v2/components/notification/notification-center-directive.js"></script>
<script src="scripts/v2/components/modal/modal-manager.js"></script>
<script src="scripts/v2/components/playback/media-elements-pool.js"></script>
<script src="scripts/v2/components/playback/orchestrator.js"></script>
<script src="scripts/v2/components/playback/playback-slot-factory.js"></script>
<script src="scripts/v2/components/playback/scene-directive.js"></script>
<script src="scripts/v2/components/playback/scenes-registry.js"></script>
<script src="scripts/v2/components/playback/popcorn.one.js"></script>
<script src="scripts/v2/components/playback/popcorn.fade.js"></script>
<script src="scripts/v2/components/keyboard-shortcut-manager.js"></script>

<script src="scripts/services/configuration.js"></script>
<script src="scripts/services/queue-manager.js"></script>
<script src="scripts/services/youtube-client.js"></script>
<!-- endbuild -->

</body>
</html>