<!doctype html>
<html ng-app="mtMixTubeApp" ng-controller="mtRootController">
<head>
    <meta charset='utf-8'>

    <title ng-bind="'MixTube ' + (queue.name ? '- ' + queue.name : '')">MixTube (Loading)</title>

    <link rel="stylesheet" href="styles/vendor/css/reset.css" type="text/css">
    <link rel="stylesheet" href="styles/css/main.css" type="text/css">
    <link rel="stylesheet" href="styles/vendor/fontello/css/fontello.css" type="text/css">
    <!-- Don't include Qbaka reporting while in dev to stop error reporting -->
    <!--<script src="scripts/vendor/qbaka.js"></script>-->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
</head>
<body mt-mousestart="mouseStarted()" mt-mousestop="mouseStopped()" debounce="300" ng-cloack>

<div class="mt-modal-container" ng-show="loadingQueue">
    <div class="mt-modal-vc">
        <div class="mt-root-spinner"></div>
        <p class="mt-root-spinner-message">Loading the video queue</p>
    </div>
</div>

<!-- used by the mtAlert service -->
<div class="mt-alert-container"></div>

<section class="mt-video-stage-frame">
    <div class="mt-coming-next" ng-controller="mtComingNextCtrl" ng-show="comingNextVisible"
         ng-animate="{show: 'mt-fade-in', hide: 'mt-fade-out'}">
        <div class="mt-coming-next-item" ng-show="titleCurrent">
            <h4 class="mt-header">It was :</h4>
            <p class="mt-title">{{titleCurrent}}</p>
        </div>
        <div class="mt-coming-next-item" ng-show="titleNext">
            <h4 class="mt-header">Coming next :</h4>
            <p class="mt-title">{{titleNext}}</p>
        </div>
    </div>
    <div class="mt-video-player-window"></div>
</section>

<!-- mt-search is a Angular directive that does the plumbing for the search frame -->
<mt-search mt-search-open="searchOpen" class="mt-search-frame-container" ng-controller="mtSearchCtrl">
    <div class="mt-search-frame-wrapper">
        <div class="mt-search-frame">
            <form class="mt-search-form" name="searchForm" novalidate>
                <!-- mousetrap class required to make the esc shortcut work when the field is focused -->
                <input mt-search-field ng-model="searchTerm" class="mt-search-term-input mousetrap"
                       placeholder="Start typing" spellcheck="false" autocomplete="false">
            </form>
            <a class="mt-search-close-button" title="Close [Esc]" ng-click="close()"></a>

            <div class="mt-search-results-frame-wrapper"> <!-- providers section -->
                <section class="mt-search-results-frame">
                    <header class="mt-results-provider">
                        <h4 class="mt-name">YouTube</h4>

                        <div class="mt-spinner" ng-show="searchPending.youtube"></div>
                    </header>

                    <!--mouse enter/leave stuff emulates hover pseudo class for scrollbar styling since it doesn't work for webkit-->
                    <div mt-scroll-top-on-change="youtubeSearchResults" class="mt-results-scrollview" ng-mouseenter="hover = true" ng-mouseleave="hover = false"
                         ng-class="{'hover': hover}">

                        <p ng-show="searchResultsDelivered.youtube && youtubeSearchResults.length === 0 && searchTerm"
                           class="mt-results-no-result-message">
                            No video found for "{{searchTerm}}"
                        </p>

                        <ul class="mt-results-list">
                            <li class="mt-results-item" ng-repeat="searchResult in youtubeSearchResults">
                                <div class="mt-thumbnail-frame">
                                    <div ng-style="{'background-image': 'url(' + searchResult.thumbnailUrl + ')'}"
                                         class="mt-results-thumbnail"></div>
                                    <a ng-click="!$event.redundantClick && appendResultToQueue(searchResult)"
                                       class="mt-add-to-queue-button"></a>

                                    <div class="mt-video-duration" ng-show="searchResult.duration">
                                        <span class="mt-value">{{searchResult.duration | mtDuration:'shortTime'}}</span>
                                    </div>
                                </div>
                                <ul class="mt-video-details-list">
                                    <li class="mt-video-details-item mt-title" title="{{searchResult.title}}">
                                        {{searchResult.title}}
                                    </li>
                                    <li class="mt-video-details-item"
                                        ng-class="{'mt-invisible': !searchResult.viewCount}">
                                        {{searchResult.viewCount}} views
                                    </li>
                                    <li class="mt-video-details-item"
                                        ng-class="{'mt-invisible': !searchResult.publisherName}">
                                        from <span class="mt-user">{{searchResult.publisherName}}</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="mt-search-results-frame">
                    <h4 class="mt-results-provider">Vimeo</h4>

                    <div class="mt-results-scrollview">
                        <ul class="mt-results-list">

                        </ul>
                    </div>
                </section>
                <section class="mt-search-results-frame">
                    <h4 class="mt-results-provider">Dailymotion</h4>

                    <div class="mt-results-scrollview">
                        <ul class="mt-results-list">

                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
</mt-search>

<section class="mt-queue-frame-container" ng-controller="mtQueueFrameCtrl">
    <div class="mt-queue-frame" ng-class="{'mt-appear': isUserInteracting()}" ng-mouseenter="mouseEntered()"
         ng-mouseleave="mouseLeaved()">
        <div class="mt-queue-bar">
            <div class="mt-queue-bar-table">
                <div class="mt-column mt-left">
                    <form class="mt-queue-meta" novalidate>
                        <div class="mt-queue-name">
                            <span class="mt-display" mt-inline-edit="queue.name">
                                {{queue.name || 'Unnamed queue'}}
                            </span>
                        </div>
                    </form>
                </div>
                <div class="mt-column mt-middle" ng-controller="mtVideoPlayerControlsCtrl">
                    <a class="mt-playback-button" ng-class="{'mt-play': !isPlaying(), 'mt-pause': isPlaying()}"
                       ng-click="pauseButtonClicked()" title="Play / Pause [Space]"></a>
                </div>
                <div class="mt-column mt-right">
                    <a class="mt-open-search-button" ng-click="openSearchButtonClicked()">
                        <div class="mt-open-search-tooltip">
                            <span class="mt-keyboard-icon"> </span>Start typing to search
                        </div>
                    </a>
                    <a class="mt-clear-queue-button" ng-click="clearQueueButtonClicked()">
                        <div class="mt-clear-queue-tooltip">
                            Clear the current queue (remove all the tracks)
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <mt-carousel buckets-repeat="queueEntry in queue.entries"
                     bring-bucket-up-when="queueEntry == getPlaybackQueueEntry()"
                     buckets-animate="{enter: 'mt-fade-in', leave: 'mt-fade-out'}"
                     class="mt-queue-list-container">
            <handle>
                <div class="mt-carousel-handle backward" ng-show="backwardAvailable">
                    <div class="mt-vertical-centering">
                        <a ng-click="backward()" class="mt-link"></a>
                    </div>
                </div>
            </handle>
            <handle>
                <div class="mt-carousel-handle forward" ng-show="forwardAvailable">
                    <div class="mt-vertical-centering">
                        <a ng-click="forward()" class="mt-link"></a>
                    </div>
                </div>
            </handle>
            <renderer>
                <div ng-controller="mtQueueItemCtrl" class="mt-queue-item">

                    <div class="mt-queue-item-thumbnail" ng-class="{'mt-skipped': queueEntry.skippedAtRuntime}"
                         ng-style="{'background-image': 'url(' + queueEntry.video.thumbnailUrl + ')'}"></div>

                    <div class="mt-playing-mark" ng-show="queueEntry == getPlaybackQueueEntry()"></div>

                    <!--this weird structure is just to be able to vertical center the play button-->
                    <div class="mt-queue-item-centering-container">
                        <div class="mt-vertical-centering">
                            <a class="mt-play-button" ng-click="queueEntryClicked(queueEntry)"
                               ng-hide="playPending || queueEntry.skippedAtRuntime"></a>

                            <div class="mt-skipped-icon" ng-click="queueEntryClicked(queueEntry)"
                                 ng-show="queueEntry.skippedAtRuntime"></div>

                            <div class="mt-play-button-spinner" ng-show="playPending"></div>
                        </div>
                    </div>
                    <a class="mt-queue-item-remove-button" ng-click="removeQueueEntryClicked(queueEntry)"
                       ng-hide="playPending"></a>

                    <div class="mt-queue-item-tooltip">
                        {{queueEntry.video.title}}
                    </div>
                </div>
            </renderer>
            <remainder>
                <div class="mt-queue-item mt-queue-call-to-action">
                    <a class="mt-queue-call-button" ng-click="openSearchButtonClicked()">
                        <div class="mt-text">Use the search to add to this queue</div>
                    </a>
                </div>
            </remainder>
        </mt-carousel>
    </div>
</section>

<script type="text/ng-template" id="mtModalTemplate">
    <div class="mt-modal-container">
        <div class="mt-modal-vc" ng-include="template"></div>
    </div>
</script>
<script type="text/ng-template" id="mtConfirmTemplate">
    <div class="mt-modal-window">
        <p class="mt-message" ng-bind-html-unsafe="message"></p>

        <div class="mt-commands-container">
            <button class="mt-confirm-button" type="button" ng-click="confirm()">{{ confirmLabel }}</button>
            <a ng-click="close()">{{ cancelLabel }}</a>
        </div>
    </div>
</script>
<script type="text/ng-template" id="mtAlertTemplate">
    <div class="mt-alert"
         ng-class="{'mt-level-info': level === 'info', 'mt-level-warning': level === 'warning', 'mt-level-error': level === 'error'}">
        <div class="mt-text-container" ng-bind-html-unsafe="message"></div>
        <div class="mt-command-container">
            <a class="mt-alert-dismiss" ng-click="dismiss()">&times;</a>
        </div>
    </div>
</script>
<script type="text/ng-template" id="mtInlineEditTemplate">
    <input size="30" class="mt-input mousetrap" ng-model="model" ng-show="edition" mt-blur="blur()" mt-focus-on-render
           auto-select>
</script>

<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/q/q.js"></script>
<script src="bower_components/mousetrap/mousetrap.js"></script>
<script src="scripts/bootstrap.js"></script>
<script src="scripts/libs/mousetrap.regexpbinding.js"></script>
<script src="scripts/libs/players-pool.js"></script>
<script src="scripts/libs/tools.js"></script>
<script src="scripts/libs/angular-extensions.js"></script>
<script src="scripts/services/alert.js"></script>
<script src="scripts/services/configuration.js"></script>
<script src="scripts/services/keyboard-shortcut-manager.js"></script>
<script src="scripts/services/logger-factory.js"></script>
<script src="scripts/services/modal.js"></script>
<script src="scripts/services/player-pool-provider.js"></script>
<script src="scripts/services/queue-manager.js"></script>
<script src="scripts/services/user-interaction-manager.js"></script>
<script src="scripts/services/conductor.js"></script>
<script src="scripts/services/youtube-client.js"></script>
<script src="scripts/controllers.js"></script>
<script src="scripts/directives-filters.js"></script>
<script src="scripts/search-directive.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

</body>
</html>