<p class="mt-modal__paragraph">
    Sadly, your device lacks some required features to make it a MixTube playback device.
    For now, you can only display the content of the queue, not more. However, you will be soon able to use your
    device as a remote to add tracks to a running MixTube queue.
    <br><br>
    Stay tuned...
</p>
<p class="mt-modal__sub-paragraph">
    PS: if your interested in technical details, what is missing is the possibility to start videos without your
    intervention. It is sadly the policy for most "mobile" browsers these days (tablet included) and this will not
    change anytime soon.
</p>