<div class="mt-modal__content__wrapper">
  <p class="mt-modal__content__paragraph">
    Sadly, your device lacks some required features to make it a MixTube playback device.
    For now, you can only display the content of the queue, not more. However, you will be soon able to use your
    device as a remote to add tracks to a running MixTube queue.
    <br><br>
    Stay tuned...
  </p>

  <div class="mt-modal__content__sub" ng-init="showAdvanced = false">
    <a class="mt-modal__link" ng-click="showAdvanced = !showAdvanced" href="">Learn more</a>

    <p class="mt-modal__content__paragraph" ng-show="showAdvanced">
      If your interested in technical details, what is missing is the possibility to start videos without your
      intervention. It is the policy of most "mobile" browsers these days (tablet included) and this will not
      change anytime soon. If you think your device can actually do that then
      <a class="mt-modal__link" ng-click="close({name: 'try'})" href="">click here to try anyway</a>.
    </p>
  </div>
</div>
