<!DOCTYPE html>
<html ng-controller="RootCtrl as rootCtrl" data-appVersion="<%= appVersion %>" lang="en">
<head>
  <base href="<%= baseUrl %>">
  <!--hopefully triggers GPU Rasterization on Chrome-->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">

  <title ng-bind="'MixTube' + (rootCtrl.queueLoading ? ' (loading)' : '')">MixTube</title>

  <link href='https://fonts.gstatic.com' rel='preconnect' crossorigin>
  <link href='https://www.googleapis.com' rel='preconnect'>
  <link href='https://s.ytimg.com' rel='preconnect'>
  <link href='https://i.ytimg.com' rel='preconnect'>

  <script id="load-css-script">
    'use strict';

    <!-- build:loadCssScript -->
    <!-- the Filament Group loadCSS script will be inserted here -->
    <!-- endbuild -->

    // make sure cached CSS don't get processed straight and then block first paint
    window.requestAnimationFrame(function() {
      var loadCssScriptElement = document.getElementById('load-css-script');
      loadCSS('main.css', loadCssScriptElement);
      loadCSS('//fonts.googleapis.com/css?family=Open+Sans:300,600', loadCssScriptElement);
    });
  </script>

  <!-- build:cssInline -->
  <!-- the "above the fold" css will be inserted here -->
  <!-- endbuild -->

  <!-- build:headInject -->
  <!-- some extra HTML code can be inserted here if specified at build time -->
  <!-- endbuild -->
</head>
<body ng-class="{idle: rootCtrl.shouldIdleChrome()}">

<!-- queue loading progress block -->
<div class="mt-backdrop" ng-show="rootCtrl.queueLoading"></div>

<div class="mt-modal" ng-show="rootCtrl.queueLoading">
  <p class="mt-queue-loading__message">Loading queue, please wait...</p>

  <!--denormalized mt-spinner to make sure the spinner is displayed event before any JS is loaded-->
  <div class="mt-queue-loading__spinner">
    <svg width="100%" height="100%" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" class="mt-spinner__svg">
      <path
          d="M256 48C141 48 48 141 48 256s93 208 208 208 208-93 208-208S371 48 256 48zM65.3 256c0-105 85.5-190.7 190.7-190.7 105 0 190.7 85.5 190.7 190.7 0 105-85.6 190.7-190.7 190.7-105 0-190.7-85.5-190.7-190.7z"
          fill-opacity=".2"/>
      <path
          d="M135.7 425.8c34 24 75.5 38.2 120.3 38.2s86.4-14 120.3-38.2l-10-14.3C335 433.7 297 446.7 256 446.7s-79-13-110.2-35.2l-10 14.3z"/>
    </svg>
  </div>
</div>
<!-- end of queue loading progress block -->

<div class="mt-main-tile" ng-cloak>
  <div class="mt-header-tile">
    <div class="mt-header" mt-interactive-chrome>
      <div class="mt-header__bg" ng-class="{idle: rootCtrl.shouldIdleChrome()}"></div>
      <div class="mt-header__container">
        <div class="start">
          <h1 class="mt-header__app-title">
            <img class="mt-header__app-title__logo" alt="MixTube logo" src="<%= logoUrl %>">
          </h1>
        </div>
        <div class="center">
          <div class="mt-header__playback-button" ng-click="rootCtrl.togglePlayback()"
               ng-show="rootCtrl.shouldShowPlaybackControls()">
            <div class="facet facet__animation-toggle" ng-class="{toggle: !rootCtrl.isPlaying()}">
              <svg class="mt-svg-icon" role="img" title="Play">
                <use xlink:href="sprite.svg#mt-play-circle"></use>
              </svg>
            </div>
            <div class="facet facet__animation-toggle" ng-class="{toggle: rootCtrl.isPlaying()}">
              <svg class="mt-svg-icon" role="img" title="Pause">
                <use xlink:href="sprite.svg#mt-pause-circle"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="end">
          <!--just padding container to ensure proper centering of header-center -->
        </div>
        <div class="floating">
          <div class="mt-search-input__button" ng-click="rootCtrl.toggleSearch()">
            <div class="facet facet__animation-toggle" ng-class="{toggle: !rootCtrl.isSearchShown()}">
              <svg class="mt-svg-icon" role="img" title="Open search">
                <use xlink:href="sprite.svg#ios-search"></use>
              </svg>
            </div>
            <div class="facet facet__animation-toggle" ng-class="{toggle: rootCtrl.isSearchShown()}">
              <svg class="mt-svg-icon" role="img" title="Close search">
                <use xlink:href="sprite.svg#ios-close-empty"></use>
              </svg>
            </div>
          </div>
        </div>
      </div>

      <mt-search-input name="search" ng-model="rootCtrl.searchTerm"></mt-search-input>
    </div>
  </div>

  <div class="mt-body-tile">

    <div class="mt-scene-tile" ng-if="rootCtrl.shouldShowScene()">
      <div class="mt-scene" mt-scene="scene"></div>
    </div>

    <div class="mt-notification-center-tile">
      <mt-notification-center name="notificationCenter"></mt-notification-center>
    </div>

    <div class="mt-queue-tile" ng-class="{idle: rootCtrl.shouldIdleChrome()}" mt-interactive-chrome>
      <div class="mt-queue" ng-controller="QueueCtrl as queueCtrl" mt-queue="queue" mt-scrollable>
        <div>
          <div class="mt-queue__entry mt-js-animation__queue-entry"
               ng-repeat="entry in rootCtrl.getQueue().entries"
               ng-class="{active: entry === rootCtrl.getRunningQueueEntry(), broken: !queueCtrl.isPlayable(entry)}"
               mt-anchor="{{entry.id}}">
            <div class="mt-queue__entry__thumbnail" ng-click="queueCtrl.playQueueEntry($index)"
                 ng-disabled="!rootCtrl.shouldShowPlaybackControls()">
              <div ng-style="{'background-image': 'url({{entry.video.thumbnailUrl}})'}"
                   class="image"></div>
              <p class="mt-queue__entry__broken-message" ng-if="!queueCtrl.isPlayable(entry)">
                <span ng-if="entry.skippedAtRuntime">We couldn't load this video</span>
                <span ng-if="!entry.video.embeddable">
                  This video can only be watched on {{rootCtrl.providerIdToName(entry.video.provider)}}
                </span>
                <span ng-if="entry.video.blacklisted">
                  This video can't be watched on {{rootCtrl.hostname}}
                </span>
              </p>

              <div class="mt-queue__entry__spinner-container">
                <mt-spinner class="mt-queue__entry__spinner"
                            ng-show="entry === rootCtrl.getLoadingQueueEntry()"></mt-spinner>
              </div>

            </div>
            <div class="mt-queue__entry__data">
              <p class="mt-queue__entry__title" title="{{entry.video.title}}">
                {{entry.video.title}}
              </p>

              <div class="mt-queue__entry__commands">
                <div class="mt-queue__entry__remove-button" ng-click="queueCtrl.removeQueueEntry(entry)"
                     mt-click-active-class="ng-click-active">
                  <svg class="mt-svg-icon" role="img" title="Remove">
                    <use xlink:href="sprite.svg#ios-close"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-search-tile animation-show-hide"
         ng-controller="SearchResultsCtrl as searchResultsCtrl"
         ng-show="searchResultsCtrl.shouldShowSearchResultPanel()"
         mt-interactive-chrome="searchResultsCtrl.shouldShowSearchResultPanel()">
      <div class="mt-search">
        <div class="mt-search__provider" ng-repeat="pId in ['youtube']">
          <div class="mt-search__provider__header">
            <h3>Results from {{rootCtrl.providerIdToName(pId)}}:</h3>

            <mt-spinner class="mt-search__provider__header__spinner"
                        ng-show="searchResultsCtrl.pending[pId]"></mt-spinner>
          </div>

          <div class="mt-results mt-js-results">
            <div class="mt-results__page mt-js-animation__fold"
                 ng-repeat="searchResultsPage in searchResultsCtrl.results[pId]">
              <div class="mt-result" ng-repeat="searchResult in searchResultsPage"
                   ng-controller="SearchResultCtrl as searchResultCtrl">
                <div class="mt-result__container"
                     ng-click="searchResultCtrl.appendResultToQueue(searchResult)">

                  <div class="mt-result__thumbnail">
                    <mt-smart-img source="{{searchResult.thumbnailUrl}}"
                                  class="mt-result__thumbnail__img fill-crop">
                      <div class="loading-indicator">
                        <span class="facet facet__animation-toggle" ng-hide="rootCtrl.isPlaying()">
                           <svg class="mt-svg-icon" role="img" title="Loading video thumbnail">
                             <use xlink:href="sprite.svg#ios-videocam"></use>
                           </svg>
                        </span>
                      </div>
                    </mt-smart-img>

                    <div class="mt-result__added-confirmation mt-result__added-confirmation__animation-if"
                         ng-if="searchResultCtrl.shouldShowConfirmation">
                      <div class="text" mt-short-text="Video added to the queue">
                        <span class="mt-replaced-text">Video added to the queue.
                            <ng-pluralize count="searchResultCtrl.countBeforePlayback"
                                          when="{'one': '1 remaining tune before yours to be played.',
                                                 'other': '{} remaining tunes before yours to be played.'}">
                            </ng-pluralize>
                            Enjoy!</span>
                      </div>
                    </div>
                  </div>
                  <div class="mt-result__text" ng-class="{broken: searchResult.blacklisted}">
                    <p class="mt-result__broken-message">
                      <span ng-if="searchResult.blacklisted">
                        This video can't be watched on {{rootCtrl.hostname}}
                      </span>
                    </p>
                    <ul class="mt-result__data">
                      <li class="mt-result__data__item head" title="{{searchResult.title}}">
                        <span class="mt-result__data__title">{{searchResult.title}}</span>
                        <span
                            class="mt-result__data__duration">{{searchResult.duration | mtDuration:'shortTime'}}</span>
                      </li>
                      <li class="mt-result__data__item mt-result__data__publisher"
                          ng-style="{visibility: searchResult.publisherName ? 'visible' : 'hidden'}">
                        by {{searchResult.publisherName}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="mt-search__message mt-js-animation__fold" ng-if="searchResultsCtrl.error[pId]">
            <p class="mt-search__message__padding">
              Sorry, an error occured while searching for videos on {{rootCtrl.providerIdToName(pId)}}. Please check
              your network connection or try again later.
            </p>
          </div>

          <div class="mt-search__message mt-js-animation__fold"
               ng-if="searchResultsCtrl.noneFound[pId]">
            <p class="mt-search__message__padding">
              Sorry, no video found on {{rootCtrl.providerIdToName(pId)}} for "{{searchResultsCtrl.getSearchTerm()}}".
              Please try with another title.
            </p>
          </div>

          <!-- show the button only when the first page of results is fetched -->
          <div class="mt-search__show-more" ng-show="searchResultsCtrl.nextPageId[pId]">
            <div class="mt-search__show-more__button"
                 ng-click="searchResultsCtrl.showMore(pId, searchResultsCtrl.nextPageId[pId])">
              <div class="mt-search__show-more__button__label">
                <div class="text">Show more</div>
                <div class="loader" ng-show="searchResultsCtrl.pendingMore[pId]">
                  <mt-spinner class="mt-search__show-more__spinner"></mt-spinner>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="main.js"></script>
<script src="https://www.youtube.com/iframe_api" defer></script>

</body>
</html>