.flex-row, .flex-column {
    display: -webkit-flex;
}

.flex-column {
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

.flex-greedy-box {
    position: relative;
    -webkit-flex: 1;
}

.flex-row > .flex-greedy-box {
    /*necessary to force flex column to not push the parent size */
    min-width: 0;
}

.flex-greedy-box > .flex-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.flex-align-center {
    -webkit-align-items: center;
}