<div class="mt-notifications-center__container mt-js-animation__slide-fold from-right"
     ng-repeat="notification in notificationCenterCtrl.notifications">
  <!-- the next div is required for proper height animation by containing the padding it allows to shrink the parent height to 0 -->
  <!-- normally even with height 0 the padding is shown -->
  <div class="mt-notifications-center__container__padding">
    <div role="button" tabindex="0" class="mt-notification" ng-switch on="notification.type"
         ng-class="{error: notification.type === 'error'}" ng-click="notificationCenterCtrl.close(notification)">
      <div class="mt-notification__content" ng-switch-when="error">
        <div class="text">
          {{notification.data.message}}
        </div>
      </div>
      <div class="mt-notification__content" ng-switch-when="comingNext">
        <div class="mt-notification__text">
          <div class="mt-coming-next__group">
            <div class="mt-coming-next__header">It was:</div>
            <div class="mt-coming-next__title">{{notification.data.current}}</div>
          </div>
          <div class="mt-coming-next__group next" ng-show="notification.data.next">
            <div class="mt-coming-next__header">Coming next:</div>
            <div class="mt-coming-next__title">{{notification.data.next}}</div>
          </div>
        </div>
        <div class="mt-notification__thumbnail" ng-show="notification.data.imageUrl">
          <div class="mt-notification__image"
               ng-style="{'background-image': 'url({{notification.data.imageUrl}})'}"></div>
        </div>
      </div>
    </div>
  </div>
</div>