<form class="mt-search-input">
    <!-- use form element so that we can intercept submit event triggered by virtual keyboard in mobile browsers -->
    <!-- we could use search input type but we actually don't want the "services" brought by it (cancel button...) -->
    <input ng-model="inputModel"
           class="mt-search-input__field mt-js-search-input__field"
           placeholder="Search video" size="30" autocomplete="off" autocorrect="off" autocapitalize="off"
           spellcheck="false">

    <div class="mt-search-input__fake-field mt-js-search-input__fake-field mt-search-input__fake-field__animation-toggle"
         data-mt-placeholder="Search video"
         ng-class="{empty: !inputModel}">
        {{inputModel}}
    </div>
</form>