@import 'bourbon';

@import 'variables';
@import 'utils';

@mixin modals {

  .mt-modal__container {
    max-height: 100%;
    max-width: $width-breakpoint-single-column-layout;
    padding: $grid-size;
    overflow: visible;

    // propagate the "flexibility"
    display: flex;
    flex-direction: column;
  }

  .mt-modal__frame {
    background-color: $color-contrast;
    border-radius: $border-radius;
    color: $color-text-black-text;
    @include z-depth($depth-dialog);

    // propagate the "flexibility"
    display: flex;
    flex-direction: column;
  }

  .mt-modal__title {
    flex: none;
    padding: 0 3 * $grid-size;
    margin: 3 * $grid-size 0;

    color: $color-primary;
    font: $font-bigger;
    font-weight: 700;
    text-align: center;
  }

  .mt-modal__content {
    // use the initial value for flex (0 1 auto)
    // will shrink to match the available height or expand to give enough place to the content
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    text-align: justify;
  }

  .mt-modal__content__wrapper {
    padding: 0 3 * $grid-size;
  }

  .mt-modal__content__paragraph {
    margin-bottom: 3 * $grid-size;
  }

  .mt-modal__content__sub {
    font: $font-smaller;
  }

  .mt-modal__commands {
    flex: none;

    display: flex;
    justify-content: flex-end;
  }

  .mt-modal__button {
    @include mt-click-reaction();

    margin: $grid-size;

    line-height: 5 * $grid-size;
    min-width: 8 * $grid-size;
    padding: 0 $grid-size;

    color: $color-text;
    font-weight: 700;
    text-align: center;
    background-color: $color-accent;
    border-radius: $border-radius;

    &.secondary {
      border: 1px solid $color-accent;
      background-color: transparent;
    }

    &:first-child {
      //margin-left: 0;
    }

    &:last-child {
      //margin-right: 0;
    }
  }

  .mt-modal__link {
    text-decoration: underline;
  }
}