@import 'variables';

@mixin base {

  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;

    overflow: hidden;
  }

  body, p, ul, li {
    margin: 0;
    padding: 0;
  }

  h1, h2, h3 {
    margin: 0;
    font: inherit;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  html {
    height: 100%;

    font-size: $baseFontSizeUnitless * 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: $lightTextColor;
  }

  body {
    height: 100%;

    background-color: $black;

    line-height: $lineHeight;

    &.idle {
      cursor: none;
    }
  }
}