@import 'variables';

@mixin base {

  html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;

    overflow: hidden;
  }

  body, p, ul, li {
    margin: 0;
    padding: 0;
  }

  h1, h2, h3 {
    margin: 0;
    font: inherit;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  html {
    height: 100%;

    font-size: $font-size;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: $color-text;
  }

  body {
    height: 100%;

    background-color: $color-primary-1000;

    line-height: $line-height;

    &.idle {
      cursor: none;
    }
  }
}