@import 'variables';

@mixin coming-next {

  .mt-coming-next__group {
    &.next {
      font-weight: bold;
    }

    &:first-child {
      margin-top: $grid-size;
      padding-bottom: 2 * $grid-size;
    }
  }

  .mt-coming-next__header {
    font: $font-smaller;
    color: $color-text-black-secondary;
  }

  .mt-coming-next__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}