@import 'variables';

@mixin coming-next {

  $height-notification-content: 22 * $grid-size;

  .mt-coming-next__group {
    &.next {
      font-weight: bold;
    }

    &:first-child {
      padding-bottom: $grid-size;
    }

    &:last-child {
      padding-top: $grid-size;
    }
  }

  .mt-coming-next__header {
    font: $font-smaller;
    color: $color-text-black-secondary;
  }

  .mt-coming-next__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .thumbnail {
    width: $height-notification-content;
    min-height: $height-notification-content;
  }
}