@import '../vendor/bourbon/bourbon';

@import 'variables';
@import 'utils';

@mixin modals-base {

  $modalZIndex: 500;

  .mt-backdrop {
    @include position(absolute, 0px 0px 0px 0px);

    z-index: $modalZIndex - 1;

    background-color: $backdropBackgroundColor;
  }

  .mt-modal {
    @include position(absolute, 0px 0px 0px 0px);

    z-index: $modalZIndex;

    // safety net for IE11 that can't properly manage nested flex containers
    // see http://connect.microsoft.com/IE/feedback/details/802625/min-height-and-flexbox-flex-direction-column-dont-work-together-in-ie-10-11-preview
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // shows the overlay
    &.ng-enter, &.ng-leave {
      transition-property: opacity, transform;
      transition-duration: $baseTransitionDuration;
      transition-timing-function: linear, $easeInOut;
    }

    &.ng-enter {
      opacity: 0;
      transform: translateY(-25%);
    }

    &.ng-enter.ng-enter-active {
      opacity: 1;
      transform: translateY(0);
    }

    &.ng-leave {
      opacity: 1;
      transform: translateY(0);
    }

    &.ng-leave.ng-leave-active {
      opacity: 0;
      transform: translateY(-25%);
    }
  }
}