@import '../vendor/bourbon/bourbon';

@import 'variables';
@import 'utils';

@mixin modals {

  $modalMaxWidth: 500px;
  // padding based on base line to have a consistent gutter around the content (vertical + horizontal)
  $modalPadding: $baseLineHeight / 2;

  .mt-modal__container {
    max-width: $modalMaxWidth;

    // propagate the "flexibility"
    display: flex;
    flex-direction: column;
  }

  .mt-modal__frame {
    overflow: hidden;

    background-color: $lightTextColor;
    border-radius: $baseBorderRadius;
    color: $secondaryBgColor;

    // propagate the "flexibility"
    display: flex;
    flex-direction: column;
  }

  .mt-modal__title {
    flex: none;
    margin: $baseLineHeight 0;
    padding: 0 $modalPadding;

    color: $baseBgColor;
    font-size: $biggerFontSize;
    line-height: $baseLineHeight * 2;
    font-weight: 700;
    text-align: center;
  }

  .mt-modal__content {
    // use the initial value for flex (0 1 auto)
    // will shrink to match the available height or expand to give enough place to the content
    padding: 0 $modalPadding;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    text-align: justify;
  }

  .mt-modal__paragraph {
    margin-bottom: $baseLineHeight;
  }

  .mt-modal__sub-paragraph {
    margin-bottom: $baseLineHeight;
    font-size: $smallerFontSize;
  }

  .mt-modal__commands {
    flex: none;
    padding: 0 $modalPadding;

    display: flex;
  }

  .mt-modal__button {
    @include mt-click-reaction();
    flex: 1;
    padding: $baseLineHeight / 2 0;
    margin: $baseLineHeight / 2 $baseFontSize / 2;

    background-color: $contrastedColor;
    border-radius: $baseBorderRadius;
    font-weight: 700;
    text-align: center;

    &.secondary {
      border: 1px solid $contrastedColor;
      background-color: transparent;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}