@import '../vendor/bourbon/bourbon';

@import 'variables';
@import 'utils';

@mixin modals {

  $width-max-modal: 500px;
  // padding based on base line to have a consistent gutter around the content (vertical + horizontal)
  $padding-modal: 3 * $grid-size;

  .mt-modal__container {
    max-width: $width-max-modal;

    // propagate the "flexibility"
    display: flex;
    flex-direction: column;
  }

  .mt-modal__frame {
    overflow: hidden;
    padding: $padding-modal;

    background-color: $color-primary-50;
    border-radius: $border-radius;
    color: $color-text-black-text;

    // propagate the "flexibility"
    display: flex;
    flex-direction: column;
  }

  .mt-modal__title {
    flex: none;
    margin-bottom: 4 * $grid-size;

    color: $color-primary-800;
    font-size: $font-size-bigger;
    line-height: 2 * $line-height;
    font-weight: 700;
    text-align: center;
  }

  .mt-modal__content {
    // use the initial value for flex (0 1 auto)
    // will shrink to match the available height or expand to give enough place to the content
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    text-align: justify;
  }

  .mt-modal__paragraph {
    margin-bottom: 4 * $grid-size;
  }

  .mt-modal__sub-paragraph {
    margin-bottom: 4 * $grid-size;
    font-size: $font-size-smaller;
  }

  .mt-modal__commands {
    flex: none;

    display: flex;
  }

  .mt-modal__button {
    @include mt-click-reaction();
    flex: 1;
    padding: 2 * $grid-size 0;
    margin: 2 * $grid-size 2 * $grid-size 0 2 * $grid-size;

    color: $color-text;
    font-weight: 700;
    text-align: center;
    background-color: $color-accent;
    border-radius: $border-radius;

    &.secondary {
      border: 1px solid $color-accent;
      background-color: transparent;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}