@import '../vendor/bourbon/bourbon';

@import 'variables';
@import 'utils';

@mixin modals {

  $modalMaxWidth: 500rem/16;
  $modalZIndex: 500;

  .mt-backdrop {
    @include position(absolute, 0px 0px 0px 0px);

    z-index: $modalZIndex - 1;

    background-color: $backdropBackgroundColor;
  }

  .mt-modal {
    @include position(absolute, 0px 0px 0px 0px);

    z-index: $modalZIndex;

    // safety net for IE11 that can't properly manage nested flex containers
    // see http://connect.microsoft.com/IE/feedback/details/802625/min-height-and-flexbox-flex-direction-column-dont-work-together-in-ie-10-11-preview
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // shows the overlay
    &.ng-enter, &.ng-leave {
      transition-property: opacity, transform;
      transition-duration: $baseTransitionDuration;
      transition-timing-function: linear, $easeInOut;
    }

    &.ng-enter {
      opacity: 0;
      transform: translateY(-25%);
    }

    &.ng-enter.ng-enter-active {
      opacity: 1;
      transform: translateY(0);
    }

    &.ng-leave {
      opacity: 1;
      transform: translateY(0);
    }

    &.ng-leave.ng-leave-active {
      opacity: 0;
      transform: translateY(-25%);
    }
  }

  .mt-modal__container {
    padding: $unitVerticalPadding / 2 .5rem;
    max-width: $modalMaxWidth;

    // propagate the "flexibility"
    display: flex;
    flex-direction: column;
  }

  .mt-modal__frame {
    overflow: hidden;

    background-color: $lightTextColor;
    border-radius: $baseBorderRadius;
    color: $secondaryBgColor;

    // propagate the "flexibility"
    display: flex;
    flex-direction: column;
  }

  .mt-modal__title {
    flex: none;
    padding: $unitVerticalPadding / 2 1rem;

    color: $baseBgColor;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
  }

  .mt-modal__content {
    // use the initial value for flex (0 1 auto)
    // will shrink to match the available height or expand to give enough place to the content
    padding: 0 1rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    text-align: justify;
  }

  .mt-modal__paragraph {
    margin-bottom: 1rem;
  }

  .mt-modal__sub-paragraph {
    font-size: (12rem/16);
  }

  .mt-modal__commands {
    flex: none;
    padding: 1rem;

    display: flex;
  }

  .mt-modal__button {
    @include mt-click-reaction;
    flex: 1;
    padding: $unitVerticalPadding/4 0;
    margin: 0 .5rem;

    background-color: $contrastedColor;
    border-radius: $baseBorderRadius;
    font-weight: 700;
    text-align: center;

    &.secondary {
      border: 1px solid $contrastedColor;
      background-color: transparent;
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}