@import 'utils';

@mixin notifications {

  .mt-notifications-center__container {
    overflow: visible; // lets show the shadow
  }

  .mt-notifications-center__container__padding {
    padding: 0 $grid-size;
    margin-top: $grid-size;
    overflow: visible;
  }

  .mt-notification {
    background-color: rgba($color-contrast, $opacity-ratio-overlay);
    color: $color-text-black-text;
    border-radius: $border-radius;
    @include z-depth(5);

    &.error {
      background-color: rgba($color-accent-error, $opacity-ratio-overlay);
      color: $color-text;
    }
  }

  .mt-notification__content {
    position: relative;
    display: flex;

    font: $font-smaller;
  }

  .mt-notification__text {
    padding: 0 2 * $grid-size;
    margin: 2 * $grid-size 0;

    flex: 1;
  }

  .mt-notification__thumbnail {
    padding-right: $grid-size;
    margin-top: $grid-size;
  }

  .mt-notification__image {
    width: 80px;
    height: 80px;

    background-size: cover;
    background-repeat: no-repeat;
  }
}