@import 'utils';

@mixin notifications {

  .mt-notifications-center__container {
    overflow: hidden;
  }

  .mt-notifications-center__container__padding {
    padding: $unitVerticalPadding / 2 .5rem 0 .5rem;
  }

  .mt-notification {
    line-height: $lineHeight;

    background-color: $lightTextColor;
    color: $secondaryBgColor;
    border-radius: 2px;

    &.info {
      background-color: $infoBgColor;
      color: $lightTextColor;
    }

    &.error {
      background-color: $errorBgColor;
      color: $lightTextColor;
    }
  }

  .mt-notification__content {
    display: flex;

    > .text {
      flex: 2;
      padding: $unitVerticalPadding / 2 1rem;
    }

    > .thumbnail {
      flex: 1;
    }
  }

  .mt-notification__image {
    width: 100%;

    @include mt-fluid-image(1);
  }
}