@import 'utils';

@mixin notifications {

  .mt-notifications-center__container {
    overflow: hidden;
  }

  .mt-notifications-center__container__padding {
    padding: $grid-size;
  }

  .mt-notification {
    background-color: rgba($color-primary-50, $opacity-ratio-overlay);
    color: $color-text-black-text;
    border-radius: $border-radius;

    &.error {
      background-color: rgba($color-accent-error, $opacity-ratio-overlay);
      color: $color-text;
    }
  }

  .mt-notification__content {
    display: flex;

    > .text {
      // made of natural padding plus the rest of the quarter padding of the container

      flex: 2;
      padding: 2 * $grid-size;
    }
  }

  .mt-notification__image {
    width: 100%;

    @include mt-fluid-image(1);
  }
}