@import '../vendor/bourbon/addons/position';
@import '../vendor/bourbon/addons/triangle';

@import 'utils';

@mixin queue-item-color($bgColor) {
  background-color: $bgColor;

  .mt-queue__entry__data:before {
    @include triangle(1.25rem, $bgColor, up);
  }
}

@mixin queue {

  .mt-queue {
    @include position(absolute, 0px 0px 0px 0px);

    overflow-x: hidden; // needed by FF sometimes
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    background-color: $darkestBgColor;
  }

  .mt-queue__entry {
    @include queue-item-color($baseBgColor);
    overflow: hidden;

    &.active {
      @include queue-item-color($contrastedColor);
    }

    &.broken {
      @include queue-item-color($errorBgColor);
    }
  }

  .mt-queue__entry__thumbnail {
    position: relative;

    > .image {
      @include mt-fluid-image(.4);
      filter: saturate(5%);
    }

    .mt-queue__entry.active & {
      > .image {
        filter: none;
      }
    }
  }

  .mt-queue__entry__broken-message {
    @include position(absolute, 0px 0px 0px 0px);

    display: none; // hidden by default
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: rgba($errorBgColor, $overlayOpacity);

    .mt-queue__entry.broken & {
      display: flex;
    }
  }

  .mt-queue__entry__progress {
    @include position(absolute, 0px 0px 0px 0px);

    display: flex;
    align-items: center;
    justify-content: center;

    progress {
      @extend %mt-chromeless-progress;
      @include mt-spinner(3rem, $contrastedColor);
    }
  }

  .mt-queue__entry__data {
    position: relative;
    overflow: visible; // rollback the global overflow hidden

    display: flex;

    // decorative up arrow
    &:before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 2rem;

      @include triangle(1.25rem, $baseBgColor, up);
    }
  }

  .mt-queue__entry__title {
    flex: 1;
    align-self: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: $unitVerticalPadding/2 .5rem;
  }

  .mt-queue__entry__commands {
    display: flex;
    align-items: center;
  }

  .mt-queue__entry__remove-button {
    @include mt-click-reaction();
    padding-right: .5rem;
    opacity: .2;

    // center the icon
    display: flex;

    .mt-mouse-based-interaction &:hover {
      opacity: 1;
    }
  }
}