@import 'variables';
@import 'utils';

@mixin queue-loading {
  .mt-queue-loading__message {
    margin-bottom: $baseLineHeight;
  }

  .mt-queue-loading__spinner {
    height: $baseLineHeight * 4;

    color: $contrastedColor;
  }
}