@import 'variables';
@import 'utils';

@mixin queue-loading {

  .mt-queue-loading__message {
    margin-bottom: 3 * $grid-size;
  }

  .mt-queue-loading__spinner {
    height: 12 * $grid-size;

    color: $color-accent;
  }
}