@import '../vendor/bourbon/addons/position';
@import '../vendor/bourbon/addons/triangle';
@import 'utils';

@mixin queue-item-color($color-background) {
  background-color: $color-background;

  .mt-queue__entry__data:before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 2 * $grid-size;

    @include triangle(3 * $grid-size, $color-background, up);
  }
}

@mixin queue {

  .mt-queue {
    @include position(absolute, 0px 0px 0px 0px);

    overflow-x: hidden; // needed by FF sometimes
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    background-color: $color-darker;
  }

  .mt-queue__entry {
    @include queue-item-color($color-primary);
    overflow: hidden;

    &.active {
      @include queue-item-color($color-accent);
    }

    &.broken {
      @include queue-item-color($color-accent-error);
    }
  }

  .mt-queue__entry__thumbnail {
    position: relative;

    > .image {
      @include mt-fluid-image(.4);
      filter: saturate(5%);
    }

    .mt-queue__entry.active & {
      > .image {
        filter: none;
      }
    }
  }

  .mt-queue__entry__broken-message {
    @include position(absolute, 0px 0px 0px 0px);

    display: none; // hidden by default
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: rgba($color-accent-error, $opacity-ratio-overlay);

    .mt-queue__entry.broken & {
      display: flex;
    }
  }

  .mt-queue__entry__spinner-container {
    @include position(absolute, 0px 0px 0px 0px);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mt-queue__entry__spinner {
    width: 8 * $grid-size;

    color: $color-accent;
  }

  .mt-queue__entry__data {
    position: relative;
    overflow: visible; // rollback the global overflow hidden

    display: flex;
  }

  .mt-queue__entry__title {
    flex: 1;
    align-self: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 2 * $grid-size;
    margin: 1.5 * $grid-size 0;
  }

  .mt-queue__entry__commands {
    display: flex;
    align-items: center;
  }

  .mt-queue__entry__remove-button {
    @include mt-click-reaction();
    padding-right: $grid-size;
    opacity: .2;
    // fixes a Chrome bug where opacity gets stuck to 1 after hover
    will-change: opacity;

    // center the icon
    display: flex;

    @media (any-hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
  }
}