@import '../vendor/bourbon/bourbon';
@import 'variables';
@import 'utils';

@mixin search {

  .mt-search {
    @include position(absolute, 0px 0px 0px 0px);

    background-color: rgba($color-lighter, .8);
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .mt-search__provider {
    margin: 2 * $grid-size;
  }

  .mt-search__provider__header {
    padding: 0 $grid-size;
    margin-bottom: 2 * $grid-size;


    display: flex;
    align-items: center;
  }

  .mt-search__provider__header__spinner {
    display: inline-block;
    height: 2 * $grid-size;
    width: 2 * $grid-size;
    margin-left: $grid-size;
  }

  .mt-search__message {
    overflow: hidden;
    padding: 0 $grid-size;
  }

  .mt-search__message__padding {
    padding-bottom: 2 * $grid-size;
  }

  .mt-results {
    @include clearfix();
  }

  .mt-results__page {
    @include clearfix();
    overflow: hidden;
  }

  .mt-result {
    float: left;
    padding: 0 $grid-size 2 * $grid-size $grid-size;
    vertical-align: top;

    width: 100%;

    // more than 1 item per line when more horizontal space is available
    @include mt-horizontal-screen() {
      $resultsPromotedColumnsCount: 3;
      $resultsColumnsCount: 4;

      width: 100% / $resultsColumnsCount;

      // the first three children of the first page are "promoted"
      .mt-results__page:first-child &:nth-child(-n+3) {
        width: 100% /  $resultsPromotedColumnsCount;
      }
    }
  }

  .mt-result__container {
    position: relative;

    text-align: inherit;
    border-radius: $border-radius;
    overflow: hidden;
  }

  .mt-result__thumbnail {
    position: relative;
    overflow: hidden;

    background-color: $color-primary;
  }

  .mt-result__thumbnail__img {
    padding-top: 56.25%; // fluid height

    .mt-smart-img__image {
      filter: saturate(100%);

      &.mt-loading {
        opacity: 0;
        filter: saturate(0);
      }

      &.mt-loading-remove {
        transition-property: opacity, filter;
        transition-duration: $transition-duration * 5, $transition-duration * 10;
      }
    }

    .loading-indicator {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      color: red;
    }
  }

  .mt-result__added-confirmation {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
    transform: translate3d(0, 0, 0); // u e 3D here to avoid animation flickering in webkit

    background-color: $color-primary;
    border-radius: $border-radius $border-radius 0 0;

    // vertically center the text
    display: flex;
    flex-direction: column;
    justify-content: center;

    > .text {
      padding: $grid-size;
      text-align: center;
      overflow: hidden;

      // a very "cheap" element query to display a shorter confirmation message on larger screen when the search result screen
      // is made of 5 columns which doesn't give much place to the message
      @include mt-horizontal-screen() {

        font: $font-smaller;

        &:before {
          content: attr(mt-short-text);
        }

        > .mt-replaced-text {
          display: none;
        }
      }
    }

    &.mt-result__added-confirmation__animation-if {

      &.ng-enter, &.ng-leave {
        transition-property: transform, opacity;
        transition-duration: $transition-duration;
        transition-timing-function: $timing-function-ease-in-out, linear;
      }

      &.ng-enter, &.ng-leave.ng-leave-active {
        transform: translate3d(-100%, 0, 0);
        opacity: .5;
      }

      &.ng-leave, &.ng-enter.ng-enter-active {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }

  .mt-result__data {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: $grid-size;

    background: rgba($color-background, .3);
  }

  .mt-result__data__item {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    &.head {
      display: flex;
      align-items: baseline;
    }
  }

  .mt-result__data__title {
    flex: 1;

    overflow: hidden;
    text-overflow: ellipsis;
    font: $font-smaller;
    font-weight: 600;
  }

  .mt-result__data__publisher {
    font: $font-smaller;
  }

  .mt-result__data__duration {
    width: 6ch; // based on the idea that the widest value would be 000:00
    font: $font-smaller;
    text-align: right;
  }

  .mt-search__show-more {
    padding: 0 $grid-size;
  }

  .mt-search__show-more__button {
    background-color: $color-primary;
    text-align: center;
    padding: $grid-size;
    border-radius: $border-radius;

    display: flex;
    justify-content: center;

    @media (any-hover: hover) {
      &:hover .text {
        color: $color-accent;
      }
    }
  }

  .mt-search__show-more__button__label {
    overflow: visible;

    display: flex;
    align-items: center;

    .loader {
      width: 0;
      overflow: visible;
    }
  }

  .mt-search__show-more__spinner {
    width: 2 * $grid-size;
    height: 2 * $grid-size;
    margin-left: $grid-size;
  }
}