@import 'variables';

@mixin utils {

  mt-button {
    display: block;
  }

  [role=button] {
    cursor: pointer;
    outline: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  @keyframes mt-spinner-rotation {
    to {
      transform: rotate(1turn);
    }
  }

  mt-smart-img {
    display: block;
    position: relative;

    background-repeat: no-repeat;
    background-position: center;

    &.fill-crop .mt-smart-img__image {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      background-size: cover;
    }
  }

  .mt-smart-img__loading-indicator-container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
  }

  mt-spinner {
    display: block;
  }

  .mt-spinner__svg {
    display: block;

    fill: currentColor;

    animation: mt-spinner-rotation 500ms infinite linear;
  }

  //todo need to revisit this SVG thing
  .mt-svg-icon {
    display: inline-block;
    height: 4 * $grid-size;
    width: 4 * $grid-size;

    fill: currentColor;
    stroke: currentColor;
  }

  .mt-animation-enter-leave__fade {

    &.ng-enter, &.ng-leave {
      transition: opacity $transition-duration linear;
    }

    &.ng-enter,
    &.ng-leave.ng-leave-active {
      opacity: 0;
    }

    &.ng-leave,
    &.ng-enter.ng-enter-active {
      opacity: 1;
    }
  }
}

%mt-chromeless-input {
  appearance: none;
  border: none;
  background: transparent;
  outline: none;
}

@mixin mt-click-reaction {
  &.ng-click-active {
    transform: scale(.9);
  }
}

// extracted settings for placeholder so that we can simulate placeholders with regular element
@mixin mt-placeholder($color: #A9A9A9) {
  color: $color;
  text-overflow: clip;
  white-space: nowrap;
}

@mixin mt-fluid-image($heightRatio) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: $heightRatio * 100%;
}

@mixin mt-horizontal-screen {
  @media screen and (min-width: $width-media-query-breakpoint) {
    @content;
  }
}