$grid-size: 6px;

$baseHorizontalSpacing: $grid-size;

$line-height: 4 * $grid-size;

$font-size: 16px;
$font-size-smaller: 12px;
$font-size-bigger: 26px;

$border-radius: 2px;

$transition-duration: 200ms;
$timing-function-ease-in-out: cubic-bezier(.8, 0, .2, 1);

$opacity-ratio-overlay: .85;

$color-primary-1000: hsl(240, 3%, 5%);
$color-primary-900: hsl(240, 3%, 10%);
$color-primary-800: hsl(240, 3%, 15%);
$color-primary-700: hsl(240, 3%, 25%);
$color-primary-50: hsl(240, 3%, 98%);

$color-accent: hsl(85, 51%, 52%);
$color-accent-error: hsl(8, 66%, 43%);

$color-text: hsla(0, 0%, 100%, .87);
$color-text-secondary: hsla(0, 0%, 100%, .54);
$color-text-black-text: hsl(0, 0%, 0%);
$color-text-black-secondary: hsla(0, 0%, 0%, .7);