$grid-size: 8px;

// based on YT default thumbnail width
$width-thumbnail-original: 320px;
$height-thumbnail-original: 180px;
$width-media-query-breakpoint: 600px;

$font-family: 'Open Sans', sans-serif;
$font-body: 16px/24px $font-family;
$font-smaller: 13px/20px $font-family;
$font-bigger: 24px/32px $font-family;

$border-radius: 2px;

$transition-duration: 200ms;
$timing-function-ease-in-out: cubic-bezier(.8, 0, .2, 1);

$opacity-ratio-overlay: .85;

$color-background: hsl(240, 3%, 5%);
$color-darker: hsl(240, 3%, 10%);
$color-primary: hsl(240, 3%, 20%);
$color-lighter: hsl(240, 3%, 30%);
$color-contrast: hsl(240, 3%, 98%);

$color-accent: hsl(85, 51%, 52%);
$color-accent-error: hsl(8, 66%, 43%);

$color-text: hsla(0, 0%, 100%, .87);
$color-text-secondary: hsla(0, 0%, 100%, .54);
$color-text-black-text: hsl(0, 0%, 0%);
$color-text-black-secondary: hsla(0, 0%, 0%, .7);