@import '../vendor/bourbon/bourbon';
@import 'variables';
@import 'utils';
@import 'base';
@import 'queue-loading';
@import 'modals-base';
@import 'modals';
@import 'notifications';
@import 'coming-next';
@import 'header';
@import 'scene';
@import 'queue';
@import 'search';

@mixin tiles {

  $height-header: 7 * $grid-size;
  $width-nominal-notifications: 480px;
  $width-queue-tile: $width-thumbnail-original;

  .mt-main-tile {
    height: 100%;

    display: flex;
    flex-direction: column;
  }

  .mt-header-tile {
    position: relative;
    height: $height-header;
  }

  .mt-body-tile {
    position: relative;
    flex: 1;

    display: flex;
    flex-direction: column;
  }

  .mt-scene-tile {
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-top: 56.25%; /* 16/9eme*/
    }

    @include mt-horizontal-screen() {
      // in horizontal mode we move the scene underneath the header
      @include position(absolute, -$height-header 0px 0px 0px);

      &:before {
        display: none;
      }
    }
  }

  .mt-notification-center-tile {
    @include position(absolute, 0px 0px auto auto);
    width: 100%;
    max-width: 50 * $grid-size;
    max-height: 100%;
    overflow: hidden;

    z-index: 3;

    mt-notification-center {
      // reverts the behaviour to make notifications clickable
      pointer-events: auto;
    }
  }

  .mt-queue-tile {
    position: relative;
    flex: 1;

    @include mt-horizontal-screen() {
      position: absolute;
      width: $width-queue-tile;
      height: 100%;

      transition-property: transform, opacity;
      transition-duration: $transition-duration;
      transition-timing-function: $timing-function-ease-in-out, linear;

      &.idle {
        opacity: 0;
        transform: translateX(-100%);
      }
    }
  }

  .mt-search-tile {
    @include position(absolute, 0px 0px 0px 0px);

    @include mt-horizontal-screen() {
      width: calc(100% - #{$width-queue-tile});
      left: auto;
    }

    &.animation-show-hide {

      &.ng-hide-add, &.ng-hide-remove {
        transition-property: transform, opacity;
        transition-duration: $transition-duration;

        transition-timing-function: $timing-function-ease-in-out, linear;

        // don't hide it straight: wait for the end of the animation
        display: block !important;
      }

      &.ng-hide {
        transform: translateY(-50%);
        opacity: 0;
      }
    }
  }
}

@include base();
@include queue-loading();
@include tiles();

// includes imported modules styles
@include utils();
@include modals-base();
@include modals();
@include queue-loading();
@include notifications();
@include coming-next();
@include header();
@include scene();
@include queue();
@include search();
