@import '../vendor/bourbon/bourbon';
@import 'variables';
@import 'utils';
@import 'base';
@import 'queue-loading';
@import 'modals-base';
@import 'modals';
@import 'notifications';
@import 'coming-next';
@import 'header';
@import 'scene';
@import 'queue';
@import 'search';

@mixin tiles {

  $height-header: 7 * $grid-size;
  $width-nominal-notifications: 480px;

  .mt-main-tile {
    height: 100%;

    display: flex;
    flex-direction: column;
  }

  .mt-header-tile {
    position: relative;
    height: $height-header;
    overflow: visible;

    z-index: 10 * $depth-header;
  }

  .mt-body-tile {
    position: relative;
    flex: 1;
    overflow: visible; // lets show the video under the header in horizontal mode

    display: flex;
    flex-direction: column;
  }

  .mt-scene-tile {
    position: relative;
    overflow: visible;

    z-index: 10 * $depth-scene;

    &:before {
      content: '';
      display: block;
      padding-top: 56.25%; /* 16/9eme*/
    }

    @include mt-horizontal-screen() {
      // in horizontal mode we move the scene underneath the header
      @include position(absolute, -$height-header 0px 0px 0px);

      z-index: 10 * $depth-scene-horizontal;

      &:before {
        display: none;
      }
    }
  }

  .mt-notification-center-tile {
    @include position(absolute, 0px 0px auto auto);
    width: 100%;
    max-width: 50 * $grid-size;
    max-height: 100%;
    overflow: visible;

    z-index: 10 * $depth-notifications;

    mt-notification-center {
      // reverts the behaviour to make notifications clickable
      pointer-events: auto;
    }
  }

  .mt-queue-tile {
    position: relative;
    overflow: visible; // lets show the shadow of the queue
    flex: 1;

    z-index: 10 * $depth-queue;

    @include mt-horizontal-screen() {
      position: absolute;
      width: $width-queue-tile;
      height: 100%;
      z-index: 10 * $depth-queue-horizontal;

      transition-property: transform, opacity;
      transition-duration: $transition-duration;
      transition-timing-function: $timing-function-ease-in-out, linear;

      &.idle {
        opacity: 0;
        transform: translateX(-100%);
      }
    }
  }

  .mt-search-tile {
    @include position(absolute, 0px 0px 0px 0px);

    z-index: 10 * $depth-search;

    @include mt-horizontal-screen() {
      width: calc(100% - #{$width-queue-tile});
      left: auto;
      z-index: 10 * $depth-search-horizontal;
    }

    &.animation-show-hide {
      &.ng-hide-add-active,
      &.ng-hide-remove-active {
        transition-duration: $transition-duration * 10;
        transition-property: transform, opacity;
        transition-timing-function: $timing-function-ease-in-out, linear;
      }

      &.ng-hide {
        transform: translateY(-50%);
        opacity: 0;
      }
    }
  }
}

@include base();
@include queue-loading();
@include tiles();

// includes imported modules styles
@include utils();
@include modals-base();
@include modals();
@include queue-loading();
@include notifications();
@include coming-next();
@include header();
@include scene();
@include queue();
@include search();
