@import '../vendor/bourbon/bourbon';
@import 'variables';
@import 'utils';
@import 'modals';
@import 'notifications';
@import 'coming-next';
@import 'header';
@import 'scene';
@import 'queue';
@import 'search';

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;

  font-size: $baseFontSizeUnitless * 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $lightTextColor;
}

body {
  height: 100%;

  background-color: $black;

  line-height: $lineHeight;

  &.idle {
    cursor: none;
  }
}

@mixin queue-loading {
  .mt-queue-loading__message {
    margin-bottom: $unitVerticalPadding;
  }

  .mt-queue-loading__progress {
    progress {
      @extend %mt-chromeless-progress;
      @include mt-spinner(4rem, $contrastedColor);
    }
  }
}

@mixin tiles {
  $headerHeight: 4rem;

  .mt-main-tile {
    height: 100%;

    display: flex;
    flex-direction: column;
  }

  .mt-header-tile {
    position: relative;
    height: 4rem;
  }

  .mt-body-tile {
    position: relative;
    flex: 1;

    display: flex;
    flex-direction: column;
  }

  .mt-scene-tile {
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-top: 56.25%; /* 16/9eme*/
    }

    @include mt-horizontal-screen {
      // in horizontal mode we move the scene underneath the header
      @include position(absolute, -$headerHeight 0px 0px 0px);

      &:before {
        display: none;
      }
    }
  }

  .mt-notification-center-tile {
    $notificationsNominalWidth: 30rem;

    @include position(absolute, 0px 0px auto auto);
    width: 100%;
    max-width: $notificationsNominalWidth;
    max-height: 100%;
    overflow: hidden;

    z-index: 3;

    mt-notification-center {
      // reverts the behaviour to make notifications clickable
      pointer-events: auto;
    }
  }

  .mt-queue-tile {
    position: relative;
    flex: 1;

    @include mt-horizontal-screen {
      position: absolute;
      width: 25%;
      height: 100%;

      transition-property: transform, opacity;
      transition-duration: $baseTransitionDuration;
      transition-timing-function: $easeInOut, linear;

      &.idle {
        opacity: 0;
        transform: translateX(-100%);
      }
    }
  }

  .mt-search-tile {
    @include position(absolute, 0px 0px 0px 0px);

    @include mt-horizontal-screen {
      width: 75%;
      left: auto;
    }

    &.animation-show-hide {

      &.ng-hide-add, &.ng-hide-remove {
        transition-property: transform, opacity;
        transition-duration: $baseTransitionDuration;

        transition-timing-function: $easeInOut, linear;

        // don't hide it straight: wait for the end of the animation
        display: block !important;
      }

      &.ng-hide {
        transform: translateY(-50%);
        opacity: 0;
      }
    }
  }
}

@include queue-loading;
@include tiles;

// includes imported modules styles
@include utils;
@include modals;
@include notifications;
@include coming-next;
@include header;
@include scene;
@include queue;
@include search;
