@import '../vendor/bourbon/_bourbon';

//----------- Commons and resets -----------
$searchFormHeight: 72px;
// we want thunmbnails to have a ratio of 320 x 180
$searchThumbnailRatio: (180 / 320  * 100%);
$resultsProviderHeight: 20px;
$darkTextColor: #001413;
$lightTextColor: #e5fffc;
$iconFont: 'fontello', sans-serif;
$regularMargin: 10rem/14;
$regularPadding: 10rem/14;
$darkColor: #031112;
$darkerColor: #020304;
$queueThumbnailWidth: 140px;
$queueThumbnailHeight: 79px;
$queueHeight: $queueThumbnailHeight;
$queueHeightBarHeight: 40px;
$queueFrameHeight: $queueHeight + $queueHeightBarHeight;
// we want to see at least 12 videos in the queue
$queueVisibleVideoCount: 12;
$tooltipDefaultColor: rgba(0, 6, 5, .7);
$tooltipDefaultArrowSize: 20px;
$zIndexLow: 10;
$zIndexMedium: 20;
$zIndexHigh: 30;
$zIndexAlert: 90;
$zIndexModal: 100;
$smallIconFontSize: 17rem/14;
$bigIconFontSize: 35rem/14;
$vibratingColor: #f3c621;
$subtleRadius: 1px;
$errorForgroundColor: #b94a48;

* {
  @include box-sizing(border-box);
}

// force link without href attribute and button to get pointer cursor
a, button {
  cursor: pointer;
}

input, button {
  font-family: inherit;
  color: $lightTextColor;
}

// we use link instead of button as a workaround of IE9 button rendering
// by using links we avoid text movement on click and allow CSS triangle
.mt-button-link {
  display: inline-block;

  color: inherit;
  text-decoration: none;
}

.mt-unstyled-input {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
}

.mt-vertical-centering {
  display: table-cell;
  vertical-align: middle;
}

@mixin mt-corner-button($color, $content) {
  @include triangle(35px, $color, up-right);
  @extend .mt-button-link;

  position: absolute;
  top: 0;
  right: 0;
  overflow: visible;

  &:before {
    position: absolute;
    right: 3px;
    top: -26px;

    content: $content;
    color: $darkTextColor;
    font-size: $smallIconFontSize;
    font-family: $iconFont;
    line-height: 0;
  }
}

@mixin mt-icon-font-button($fontSize, $content: '') {
  @extend .mt-button-link;

  font-family: $iconFont;

  &:before {
    content: $content;
    font-size: $fontSize;
    vertical-align: middle;
  }
}

@mixin mt-tooltip($arrowOrigin: left, $arrowPosition: 20px, $color: $tooltipDefaultColor, $arrowSize: $tooltipDefaultArrowSize) {
  position: absolute;
  padding: $regularPadding;
  text-align: center;
  background: $color;
  border-radius: $subtleRadius;

  &:after {
    @include triangle($arrowSize, $color, down);

    content: '';
    position: absolute;
    bottom: -$arrowSize;
    #{$arrowOrigin}: $arrowPosition;
  }
}

@mixin mt-ribbon($size, $color, $radius: 5px) {
  border: $size solid $color;
  border-right-color: transparent;
  border-left-width: $size;
  height: 0;
  border-radius: $radius 0 0 $radius;
}

@mixin mt-spinner($fontSize, $color) {
  @include animation(full-rotation 1.0s linear infinite);

  display: inline-block;
  font-family: $iconFont;

  &:before {
    content: '\e807';
    color: $color;
    font-size: $fontSize;
  }
}

.mt-fade-in, .mt-fade-out, {
  @include transition(opacity 500ms);
}

.mt-fade-in {
  opacity: 0;

  &.mt-fade-in-active {
    opacity: 1;
  }
}

.mt-fade-out {
  opacity: 1;

  &.mt-fade-out-active {
    opacity: 0;
  }
}

@include keyframes(full-rotation) {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}

//----------- Custom styling -----------
html, body {
  height: 100%;
}

body {
  font-family: $lucida-grande;
  font-size: 14px;
  color: $lightTextColor;
  background-color: $darkerColor;
  // needed to allow elememts to overflow out of the window without activating scrollbars
  // used for the queue bar when hidden for example
  // used for the queue bar when hidden for example
  overflow: hidden;
}

.mt-modal-container {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  z-index: $zIndexModal;
}

.mt-modal-vc {
  @extend .mt-vertical-centering;

  text-align: center;
  background-color: $tooltipDefaultColor;
}

.mt-root-spinner {
  @include mt-spinner(100px, $lightTextColor);
}

.mt-root-spinner-message {
  margin-top: 1rem;
}

.mt-modal-window {
  display: inline-block;
  padding: $regularPadding * 1.5;
  border-top: 4px solid $vibratingColor;
  background-color: $darkColor;

  .mt-message {
    margin-bottom: $regularMargin * 3;

    line-height: normal;
    text-align: left;
  }

  .mt-commands-container {
    text-align: right;
  }

  .mt-confirm-button {
    padding: (4rem/14);
    margin-right: (8rem/14);

    border: none;
    color: $darkTextColor;
    background-color: $vibratingColor;
    font-weight: bold;
  }
}

.mt-alert-container {
  position: absolute;
  // this padding is actually used as a margin for the child element
  padding: $regularMargin $regularMargin 0 $regularMargin;
  top: 0;
  width: 100%;
  z-index: $zIndexAlert;

  // hides the container when it is empty. We don't want a empty box floating above everything
  &:empty {
    display: none;
  }
}

.mt-alert {
  display: table;
  width: 100%;
  margin-bottom: $regularMargin;

  border-radius: $subtleRadius;

  &.mt-level-info {
    background-color: #d9edf7;
    color: #3a87ad;
  }

  &.mt-level-warning {
    background-color: #fcf8e3;
    color: #c09853;
  }

  &.mt-level-error {
    background-color: #f2dede;
    color: $errorForgroundColor;
  }

  > .mt-text-container, > .mt-command-container {
    display: table-cell;
    padding: $regularPadding * 2;
  }

  > .mt-command-container {
    text-align: right;
    font-weight: bold;
  }
}

.mt-alert-dismiss {
  color: #000000;
  opacity: .5;
  font-weight: bold;
}

.mt-video-stage-frame {
  position: relative;
  height: 100%;
}

.mt-coming-next {
  position: absolute;
  right: $regularMargin;
  top: $regularMargin;
  z-index: $zIndexLow;
  padding: $regularPadding;

  background-color: $tooltipDefaultColor;
  font-size: (18rem/14);
  border-radius: $subtleRadius;
}

.mt-coming-next-item {
  margin-top: 2 * $regularMargin;

  &:first-child {
    margin-top: 0;
  }

  > .mt-header {
    margin-bottom: $regularMargin / 2;

    font-size: (12rem/14);
  }
}

.mt-video-player-window {
  position: relative;
  width: 100%;
  height: 100%;
}

// prevents click on player instances
.mt-video-player-window:before {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: $zIndexLow;
  // empty block with no background doesn't intercept clicks on IE9, so set a background color but totaly transparent
  background-color: rgba(0, 0, 0, 0);

  content: '';
}

.mt-video-player-instance {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.mt-search-frame-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding-bottom: $queueFrameHeight;
}

.mt-search-frame-wrapper {
  height: 100%;
  width: 100%;
  z-index: $zIndexMedium;
  position: relative;
  padding: {
    top: $regularMargin;
    left: $regularMargin;
    right: $regularMargin;
  }

  background-color: rgba(26, 37, 38, .8);
}

.mt-search-frame {
  position: relative;
  height: 100%;
}

.mt-search-form {
  position: absolute;
  height: $searchFormHeight;
  width: 100%;
  padding-left: $regularMargin;
  padding-right: 30px;
}

.mt-search-close-button {
  @include mt-icon-font-button($smallIconFontSize, '\e802');

  position: absolute;
  right: 0;
  top: 0;
}

.mt-search-term-input {
  @extend .mt-unstyled-input;

  width: 100%;

  font-size: 3.57rem;
  text-transform: uppercase;
}

.mt-search-results-frame-wrapper {
  height: 100%;
  // 20px more for margin
  padding-top: $searchFormHeight + 20px;
}

.mt-search-results-frame {
  float: left;
  position: relative;
  height: 100%;
  width: 33.33%;
  padding-top: $resultsProviderHeight;
}

.mt-results-provider {
  position: absolute;
  top: 0;
  height: $resultsProviderHeight;
  margin-left: $regularMargin;

  font-size: (16rem/14);

  > .mt-name {
    display: inline-block;
  }

  > .mt-spinner {
    @include mt-spinner($smallIconFontSize, $lightTextColor);

    margin-left: .5em;
  }
}

.mt-results-scrollview {
  height: 100%;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    // opacitiy used to fix rendering glitches, without the scrollbars are mot correctly repainted sonetimes
    opacity: 0;
  }

  &.hover::-webkit-scrollbar {
    opacity: 1;
  }

  &.hover::-webkit-scrollbar-thumb {
    background: $darkColor;
  }
}

.mt-results-no-result-message {
  padding: $regularMargin;
}

.mt-results-list {
  @include clearfix;
}

.mt-results-item {
  float: left;
  padding: {
    left: $regularMargin;
    right: $regularMargin;
  }
  margin: {
    top: $regularMargin;
    bottom: $regularMargin;
  }
  width: 50%;
  // prevent ribbon white space to overflow on the siblings items
  overflow: hidden;
}

.mt-thumbnail-frame {
  position: relative;
}

.mt-results-thumbnail {
  // a percentage value for padding top is relative to the parent width, makes height of the thumbnail relative to its width
  padding-top: $searchThumbnailRatio;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mt-results-item:hover .mt-add-to-queue-button {
  display: block;
}

.mt-add-to-queue-button {
  @include mt-corner-button($vibratingColor, '\e803');

  display: none;
}

.mt-video-duration {
  position: absolute;
  left: -2px;
  bottom: 7px;

  font-size: 11px;
  color: $darkTextColor;
  letter-spacing: -1px;

  &:before {
    @include mt-ribbon(8px, $lightTextColor, 2px);

    width: 25px;

    content: '';
    display: block;
  }

  > .mt-value {
    position: absolute;
    top: 2px;
    left: 4px;
  }
}

.mt-video-details-list {
  margin-top: 5px;
  line-height: normal;
}

.mt-video-details-item {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.mt-title {
    font-weight: bold;
  }
}

.mt-queue-frame-container {
  position: absolute;
  bottom: 0;
  height: $queueFrameHeight;
  width: 100%;
  z-index: $zIndexMedium;
}

.mt-queue-frame {
  position: absolute;
  height: 100%;
  width: 100%;

  // I would love to use the AngularJS animation fwk on show but that shows some glitches propably because of the sequence
  // of animation css and display none
  @include transition(all 200ms $ease-in-out-quart);
  @include transform(translateY(100%));

  &.mt-appear {
    @include transform(translateY(0));
  }
}

.mt-queue-bar {
  height: $queueHeightBarHeight;
  background-color: $darkColor;
}

.mt-queue-bar-table {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;

  > .mt-column {
    vertical-align: middle;
    display: table-cell;
    width: 33.3333%;
    white-space: nowrap;

    > * {
      vertical-align: middle;
    }
  }

  > .mt-left {
    padding-left: $regularPadding;
  }

  > .mt-middle {
    text-align: center;
  }

  > .mt-right {
    text-align: right;
    padding-right: $regularPadding;
  }
}

.mt-queue-meta {
  display: inline-block;
}

.mt-queue-name {
  .mt-input, .mt-display {
    display: inline-block;
    padding: .2rem;
    margin: 0;
    // it is the only height supported by webkit for inputs
    line-height: normal;

    font-size: (16rem/14);
    outline: none;
  }

  .mt-input {
    border: none;
    background-color: #e4e4e4;
    color: $darkTextColor;
    outline: none;
  }

  .mt-display {
    cursor: pointer;
  }

  .mt-display:hover {
    background-color: $darkerColor;
  }
}

.mt-open-search-button {
  @include mt-icon-font-button($smallIconFontSize, '\e800');

  position: relative;
  margin-right: (7rem/14);
  // needed by IE, else the tooltip is hidden
  overflow: visible;

  &:hover > .mt-open-search-tooltip {
    visibility: visible;
  }
}

.mt-open-search-tooltip {
  @include mt-tooltip(right, 28px);

  position: absolute;
  right: -24px;
  bottom: 43px;
  z-index: $zIndexHigh;

  font-family: $lucida-grande;

  visibility: hidden;

  .mt-keyboard-icon:before {
    content: '\e804';

    font-family: $iconFont;
    font-size: (25rem/14);
    line-height: 0;
    vertical-align: middle;
    margin-right: (7rem/14);
  }
}

.mt-clear-queue-button {
  @include mt-icon-font-button($smallIconFontSize, '\e805');

  position: relative;
  // needed by IE, else the tooltip is hidden
  overflow: visible;

  &:hover > .mt-clear-queue-tooltip {
    visibility: visible;
  }
}

.mt-clear-queue-tooltip {
  @include mt-tooltip(right, 9px);

  position: absolute;
  right: -7px;
  bottom: 43px;
  z-index: $zIndexHigh;

  font-family: $lucida-grande;

  visibility: hidden;
}

.mt-playback-button {
  @include mt-icon-font-button($bigIconFontSize);

  &.mt-pause:before {
    content: '\e809';
  }

  &.mt-play:before {
    content: '\e80a';
  }
}

.mt-queue-list-container {
  height: $queueHeight;

  background-color: $darkerColor;
}

.mt-carousel-container {
  position: relative;
  width: 100%;
}

.mt-carousel-slider {
  position: absolute;
  height: 100%;
}

.mt-carousel-list {
  height: 100%;
  white-space: nowrap;
}

.mt-carousel-bucket {
  display: inline-block;
  height: 100%;
  //restore white space bahaviour
  white-space: normal;
}

.carousel-item {
  height: 100%;
  width: $queueThumbnailWidth;

  background-size: cover;
}

.mt-carousel-handle {
  position: absolute;
  top: 0;
  z-index: $zIndexLow;
  display: table;
  height: 100%;

  &.forward {
    right: 0;
  }

  .mt-link {
    display: inline-block;
    padding: $regularPadding;

    background-color: $darkColor;
  }

  &.backward .mt-link {
    @include mt-icon-font-button($smallIconFontSize, '\e806');

    border-radius: 0 $subtleRadius $subtleRadius 0;
  }

  &.forward .mt-link {
    @include mt-icon-font-button($smallIconFontSize, '\e801');

    border-radius: $subtleRadius 0 0 $subtleRadius;
  }
}

.mt-queue-item {
  position: relative;
  height: 100%;
  width: $queueThumbnailWidth;

  // appear / disappear animations
  &.mt-appear-enter, &.mt-appear-leave {
    @include transition(all 100ms ease-in-out);
  }

  &.mt-appear-enter {

    @include transform(scale(0));

    &.mt-appear-enter-active {
      @include transform(scale(1));
    }
  }

  &.mt-appear-leave {

    @include transform(scale(1));

    &.mt-appear-leave-active {
      @include transform(scale(0));
    }
  }
}

.mt-queue-item-thumbnail {
  @include position(absolute, 0px 0px 0px 0px);

  background-size: cover;

  &.mt-skipped {
    opacity: .2;
  }
}

.mt-playing-mark {
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;

  background-color: $vibratingColor;
}

.mt-queue-item-remove-button {
  @include mt-corner-button($vibratingColor, '\e80b');

  display: none;
}

.mt-queue-item:hover > .mt-queue-item-remove-button {
  display: block;
}

.mt-queue-item-centering-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: $queueThumbnailHeight;
  display: table;

  // vertical and horizontal centering of content
  text-align: center;
}

.mt-play-button {
  @include mt-icon-font-button($smallIconFontSize, '\e80a');

  // hidden by default
  display: none;
  padding: {
    left: 15px;
    right: 15px;
    top: 10px;
    bottom: 10px;
  }

  border-radius: $subtleRadius;
  background-color: $tooltipDefaultColor;
}

.mt-skipped-icon {
  @include mt-icon-font-button($bigIconFontSize, ' \e808');

  color: $errorForgroundColor;
}

.mt-play-button-spinner {
  @include mt-spinner($bigIconFontSize, $vibratingColor);
}

.mt-queue-item:hover .mt-play-button {
  display: inline-block;
}

.mt-queue-item-tooltip {
  @include mt-tooltip(left, 9px);

  // hidden by default and shown on queue item over
  display: none;
  bottom: $queueHeight + $tooltipDefaultArrowSize;
  width: $queueThumbnailWidth * 1.5;
}

.mt-queue-item:hover .mt-queue-item-tooltip {
  display: block;
}

.mt-queue-call-to-action {
  padding: (2rem/14);
  background-color: $darkerColor;
}

.mt-queue-call-button {
  @extend .mt-button-link;

  display: table;
  table-layout: fixed;
  height: 100%;
  max-height: $queueThumbnailHeight;
  width: 100%;

  border: (2rem/14) dashed $lightTextColor;
  border-radius: (10rem/14);
  opacity: .15;

  &:hover {
    opacity: 1;
  }

  > .mt-text {
    display: table-cell;
    padding: (2rem/14);
    vertical-align: middle;
    text-align: center;
  }
}